body{
    margin: 0;
    padding: 0;
    display: grid;
    height: 100vh;
    width: fit-content;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 100%;
    background-color: #DFF6FF;
}

#sidebar {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    height: 110%;
    background-color: white;
    align-items: center;
    padding: 1.5rem;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.sidebar-btn{
    width: 90%;
    /* border: 1px black solid; */
    border-radius: 7px;
    text-align: start;
    margin: 0;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1em;
}

.active, .sidebar-btn:hover, .logout-btn:hover{
    background-color: #47B5FF;
}

/* .sidebar-btn:active{
    background-color: #F9F9F9;
} */

.mainbar {
    height: 90vh;
    /* display: grid; */
    /* border-radius: 10px; */
    /* background-color: #47B5FF; */
    padding: 1.5rem;
    gap: 0.5rem;
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.5); */
}

.table-container {
    padding: 1.5rem;
    border-radius: 1.5rem;
    background-color: white;
    width: 95%;
    box-shadow: 0px 0px .5rem rgba(6, 40, 61, .5);
}


input {
    height: 3em;
    width: auto;
    border: 1.2px solid black;
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.logout-btn{
    cursor: pointer;
    width: fit-content;
    /* border: 1px black solid; */
    border-radius: 7px;
    text-align: center;
    margin: 0;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1em;
}

#signup-form{
    display: flex;
    flex-flow: column;
    gap: .5em;
}

.form-el {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    gap: .2em;
}

.form-el div {
    display: flex;
    align-items: center;
}

.form-el small {
    visibility: hidden;
    max-width: 20em;
    text-align: justify;
}

.error input {
    border-color: red;
}

.error small {
    visibility: visible;
    color: #DA0037;
}

.valid input{
   border-color: #40e200; 
}

#pswVis {
    visibility: visible;
    cursor: pointer;
    margin: 0 0 0 auto;
    font-size: .8em;
}

#submit {
    cursor: pointer;
    border-style: none;
    background-color: #4E9F3D;
    color: white;
    height: 2em;
    border-radius: 10px;
    font-size: 1em;
}
