body {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#signup-form {
    display: flex;
    flex-flow: column;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.input  {
    margin-bottom: 10px;
    width: 35%;
    display: grid;
    grid-template-columns: 30% 70%;

}

.input input {
    width: 100%;
}

#submit {
    width: fit-content;
    padding: 10px;
    background-color: greenyellow;
    border: 1px solid black;
    border-radius: 5px;
}