#signup-form {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.input  {
    margin-bottom: 10px;
    width: 35%;
    display: grid;
    grid-template-columns: 30% 70%;

}

.input input {
    width: 100%;
}